* {
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #f5f5f5;
    border-bottom: 0.05rem solid rgba(0,0,0,.125);
}
.navbar-logo {
    margin-left: 2rem;
}
.dropdown-user{
    margin-right: 2rem;
}
.dropdown-menu{
    right: -1rem;
    top: 3rem;
}
.accordion-leftMenu {
    max-width: 15rem;
    min-height: 100vh;
    border-right: 0.05rem solid rgba(0,0,0,.125);
    background-color: #f5f5f5;
}
.accordion-header {
    background-color: #f5f5f5 !important;
    padding-left: 25px !important;
}

.accordion-header:hover {
    opacity: .85;
}

.accordion-button {
    background-color: #f5f5f5 !important ;
}

.accordion-button::before {
    position: absolute;
    content: '';
    left: -2px;
    top: 18px;
    background-size: 14px;
    width: 14px;
    height: 14px;
}

.button-playgrounds::before {
    background-image: url(../images/star-solid.svg);
    background-repeat: no-repeat;
}

.button-polls::before {
    background-image: url(../images/bars-solid.svg);
    background-repeat: no-repeat;
}

.button-members::before {
    background-image: url(../images/user-friends-solid.svg);
    background-repeat: no-repeat;
}

.button-settings::before {
    background-image: url(../images/cog-solid.svg);
    background-repeat: no-repeat;
}

.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    background-color: #f5f5f5 !important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(90deg) translate(4px, 8px) !important;
    background-image: url(../images/chevron-down-solid.svg) !important;
    background-size: .7rem !important;
}


.accordion-button::after {
    background-image: url(../images/chevron-down-solid.svg) !important;
    background-size: .7rem !important;
}
.list-group__item{
    list-style-type: none;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
}
.list-group__link{
    text-decoration: none;
    color: #6e6e6e;
}
.list-group__link:hover{
    color: #3a3737;
}

.accordion-button:not(.collapsed){
    color: #3a3737 !important;
    background-color: transparent !important;
}

main.main {
    display: grid;
    grid-template-columns: 15rem 1fr;
}
.main-content{
    background-color: #f5f5f5;
    padding-left: 4rem;
    padding-top: 2rem;
}
.nav-tabs{
    border: none !important;
}
.nav-link{
    color: #6e6e6e !important;
}
.tabs{
    max-width: 90%;
}
.tab-content{
    background-color: #fff;
    width: 100%;
}
.card{
    border: none !important;
    padding: 1rem 2rem;
}

.card-system__form-api__btn-dis {
    margin: 0 0.3rem !important;
}
input:focus, select:focus{
    border-color: #d9dce0 !important;
    box-shadow: 0 0 0 0.1rem rgb(95 96 97 / 25%) !important;
}
.card-system__title{
    font-size: 1rem;
    color: #a29c9c;
    margin-bottom: 1rem;
}
.card-system__form-api__btn-dis,
.card-system__form-api__btn-random{
    border: 0.05rem solid #f5f5f5;
    background-color: #fff;
    border-radius: .5rem;
    padding: 0 .9rem;
}
img.btn-dis__icon,
img.btn-random__icon {
    display: block;
    width: 1rem;
}
.card-system__form-phones{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 500;
    font-size: .894rem;
    color: #484a4c;
}
.nav-item{
    margin-bottom: -0.08rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none !important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: transparent !important;
}

.nav-link:focus, .nav-link:hover{
    color: #3a3737 !important;
}
.bootstrap-tagsinput {
    height: 2.7rem !important;
    padding: 9px 6px !important;
} 
.bootstrap-tagsinput .tag {
    color: #211f1f !important;
    padding: .3rem;
    font-size: .9rem;
    border: .05rem solid #ebe9e9;
    background-color: #ebe9e9;
    border-radius: .3rem;
}
.bootstrap-tagsinput > input {
    border: none !important;
}
.timetable__interval{
    display: flex;
}
.btn-addTime{
    border: 0.05rem solid #cebfbf;
    border-radius: .5rem;
    background-color: #fff;
}
img.btn-addTime-icon{
    display: block;
    width: 1rem;
}


.addTime{
    display: none;
}

.tab-content {
    background-color: inherit !important;
}
#table{
    width: 100% !important;
}
.table-content{
    padding: 1rem;
    background-color: #fff !important;
}
.contacts{
    margin-right: 1rem;
}
.nav-pills{
    background-color: #ebebeb;
    padding: 1rem;
    margin: 3rem 0 !important;
    margin-right: 1rem !important;
}
.nav-link-settings{
    background-color: inherit !important;
}





/* Стилизация расписания */
.card-timetable{
    margin-bottom: 1rem;
}
.input-group-day {
    margin-bottom: .8rem;
}
input[type="time"]{
    max-width: 7rem;
}
.input-group-day > label {
    border: 0.1rem solid rgba(0,0,0,0.125);
    padding: 0.3rem 0.7rem;
    color: #908a8a;
}   
.input-group-extraday > label {
    border: 0.1rem solid rgba(0,0,0,0.125);
    padding: 0.3rem 0.7rem;
    color: #908a8a;
}       
.checkbox-wrap {
    border: 0.1rem solid rgba(0,0,0,0.125);
    padding: 0.3rem 0.7rem;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
}
.span-day {
    width: 8rem !important;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #908a8a;
    border: 0.1rem solid rgba(0,0,0,0.125);
}
.form-check-input:checked{
    background-color: #f76c80 !important;
    border-color: #f76c80!important;
}
.input-group-day > .btn-primary:focus{
    background: transparent !important;
    border: 0.1rem solid rgba(0,0,0,0.125) !important;
    box-shadow: none !important;
}
.input-group-day > .btn-primary:hover {
    background: transparent !important;
    border: 0.1rem solid rgba(0,0,0,0.125) !important;
    box-shadow: none !important;
}
.input-group-day > button {
    background: transparent;
    border: 0.1rem solid rgba(0,0,0,0.125);
    width: 2.5em;
}


.btn-save__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    
}
.btn-save{
    background-color: #f76c80 !important;
    border-color: #f76c80 !important;
    box-shadow: none !important;
}
.btn-save:hover{
    background-color: #f76c80 !important;
    border-color: #f76c80 !important;
    color: #fff !important;
}


.btn-addSite__container > .btn-primary {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #f76c80 !important;
    font-size: 1rem !important;
    font-weight: bold;
    position: relative;
    padding-left: 1.3rem;
}

.btn-addSite__container > .btn-primary::after{
    position: absolute;
    content: '+';
    color: #f76c80 !important;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    bottom: 0;
}
.btn-addSite {
    background-color: #f76c80 !important;
    border: #f76c80 !important;
    border-radius: 5px;
    padding: 8px;
}
.btn-secondary {
    background-color: #fff !important;
    color: #6c757d !important;
}

.btn-addTime > img {
    pointer-events: none;
}

.hide {
    display: block;
}

.pointer-auto {
    pointer-events: auto;
}

.pointer-none {
    pointer-events: none;
    opacity: 0.5;
}

.select2-container.select2-container--default.select2-container--open  {
    z-index: 5000;
}


.btn-site-save {
    background-color: #f76c80 !important;
    border: #f76c80 !important;
    box-shadow: none !important;
}

.btn:hover {
    opacity: .8;
}

input.error {
    border: 1px solid #f76c80 !important;
}
input[type=time].error label.error  {
    display: none;
}

label.error {
    color: red;
}

.img-flag {
    max-width: 20px;
    max-height: 20px;
}


.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ced4da !important;
    height: 30px;
}

.select2-container .select2-selection--single {
    height: 2.6rem !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 6px 20px 0 15px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px !important;
    top: 8px !important;
    right: 8px !important;
    width: 20px !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b , 
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 6px 5px 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: none !important;
}